src/main/app/variablescopeinasync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="FlowE">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flowf" doc:name="HTTP"/>
        <set-variable variableName="FV" value="#[&quot;FV&quot;]" doc:name="FV"/>
        <set-session-variable variableName="SV" value="#[&quot;SV&quot;]" doc:name="SV"/>
        <logger message="FlowE:     #[flowVars.FV] #[sessionVars.SV]" level="INFO" doc:name="FlowE:     #[flowVars.FV] #[sessionVars.SV]"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="FlowF" doc:name="VM"/>
    </flow>
    <flow name="FlowF">
        <vm:inbound-endpoint exchange-pattern="one-way" path="FlowF" doc:name="VM"/>
        <logger message="FlowF:     #[flowVars.FV] #[sessionVars.SV]" level="INFO" doc:name="FlowF:     #[flowVars.FV] #[sessionVars.SV]"/>
    </flow>
</mule>
